@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes headerMove {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Global Styles */
body {
    animation: fadeIn 1.5s ease-out;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f7f7f7; /* Couleur de fond par défaut */
}

header {
    display: flex;
    background: linear-gradient(45deg, #00bcd4, #009688);
    position: sticky;
    top: 0;
    height: 100px;
    animation: fadeIn 2s ease-out, headerMove 1s ease-out;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.logo {
    width: 90px;
    height: 90px;
    margin-left: 15px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: rotate(360deg);
}

/* Menu */
.menu {
    font-size: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
}

.menu > ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    animation: fadeIn 1.5s ease-out;
}

.navbar {
    position: relative;
    padding: 10px 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    position: relative;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: #ffeb3b;
    transform: translateY(-5px);
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ffeb3b;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}


.sousNav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #00bcd4;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(10px);
    min-width: 200px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar:hover .sousNav {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.sousNav li {
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.sousNav li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sousNav li a {
    text-decoration: none;
    color: white;
}


.mainContent {
    background: #ffffff;
    padding: 20px;
    animation: fadeIn 1.5s ease-out;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: #00bcd4;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.8s forwards;
    color: white;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.section p {
    font-size: 18px;
    line-height: 1.6;
}
.crossfitPage {
    margin: 0;
    padding: 20px;
    background: #f0f8ff;
    animation: fadeIn 1.5s ease-out;
    text-align: center;
}

.programs {
    margin-top: 40px;
}

.card {
    background-color: #faf6f6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    padding: 20px;
    animation: fadeIn 2s ease-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(45deg, #009688, #00bcd4);
    color: white;
    font-size: 14px;
    margin-top: 20px;
}
